<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelos.Properties.Settings.OrcamentoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Orcamento;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>