/* Geral */
H1
{
	margin-left: 20px;	
}

/* Div */
div
{	
	margin-left: 10px;
}

.ajax__calendar_container div { margin-left: 0px !important;}

#container
{
	width: 900px;
	border: solid thin #CC9900;
	margin:0 auto;
}

#Header
{	
	background-image: url(../Image/fpu-logo.jpg);
	height: 101px;	
}

.areatexto
{
	width: 150px;	
}

/* GRIDS */
.gridGeral
{
	width:auto;
	background: #e3eaeb;
	margin: 20px 20px 20px 20px;
}

.gridHeader
{
	color: #7B667C;
}

.gridRowStyle
{
	background: #EFF3FB;		
}

.gridAltRowStyle
{
	background: white;
}

.gridFooterStyle
{
	background: #507CD1;
	font-weight: bold;
	color:White;		
}

/* dropdown */
.dropdown
{
	width: 150px;
}

/* tabelas */
.tdstyle
{
	width: 200px;	
}

/* Login*/
.login
{
    width: 240px;  /* largura da DIV*/
    height: 200px; /* altura da div*/
    position: absolute;
    top: 50%;  /*  50% longe do topo, ou seja meio da tela na vertical */
    left: 50%;
    margin-top:-100px; /* ou seja ele pega 50% da tela e sobe metade do valor da altura no caso 100 */
    margin-left: -120px;
}


